services:
  streamlit:
    build: .
    container_name: streamlit-app
    ports:
      - "${STREAMLIT_SERVER_PORT}:8501"
    networks:
      - app-network
    depends_on:
      - waha
    env_file:
      - .env
    volumes:  # DESCOMENTAR APENAS PARA DEBUG! Evitar ter que ficar dando rebuild
      - .:/app

  waha:
    image: devlikeapro/waha:latest
    container_name: waha-api
    ports:
      - "127.0.0.1:3000:3000"  # Acessível apenas pela máquina que hospeda o serviço
    networks:
      - app-network
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/ping"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s

networks:
  app-network:
    driver: bridge